# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log
crash.*.log
tfplan
*.tfplan

# Kubernetes
kubeconfig
kubeconfig.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
